.box {
    background-color: rgba(253, 220, 220, 0.767);
    border: solid;
    width: 300px;
    margin: 10px
}

.form {
    background-color: rgba(253, 220, 220, 0.767);
    border-radius: 20px;
    margin: 10px
}

.formTitle {
    margin-top: 15px;
    margin-bottom: 30px;
}

h1 {
    text-shadow: 2px 2px #92b38d;
}

h1:hover {
    color :rgb(47, 47, 47);
    text-shadow: 2px 2px #638164;
}

a {
    color: black;
}

a:hover {
    color: rgb(211, 60, 60);
}